@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

html {
   scroll-behavior: smooth;
 }

body {
    background-image: url('https://i.imgur.com/Bt0sdpD.jpg?1');
    background-repeat: repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    }
    
   .banner {
    display: flex;
    justify-content:center;
    }

   .menu {
      position: center;
      right: 0;
      font-family: 'Dosis', sans-serif;
      font-size: 20px;
      color: black;
      background: linear-gradient(to bottom, RoyalBlue, Teal);

      margin: 2% 0%;
      box-shadow: 1px 7px 5px 0px rgba(0,0,0,0.75);

   }

   .filters {
      padding: 1em; 
      margin-bottom: 0px;
      box-sizing: border-box;
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
   }

  .selector {
      margin-left: 15px;
      height: 30px;
      width: 100px;
   }

   #footer {
      background: linear-gradient(to bottom right, #165051, #8AFEFF);
      color: #fff;
      width: auto;
      text-align: center;
      padding: 1em;
      align-self: flex-end;
    }

   .pokedex {
      display: flex;
      flex-wrap: wrap;
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 1%;
      box-sizing: border-box;
      justify-content: space-around;
      align-items: center;
      align-content: center;
      text-align: center;
      width: 100%; 
   }
  
  .pokeCards {
      font-family: 'Dosis', sans-serif;
      font-size: 15px;
      padding: 20px;
      padding-top: 2%;
      padding-bottom: 5%;
      margin: 1%;
      width: 150px;
      height: 220px; 
      text-align: center; 
      border-radius: 10%;
      background: linear-gradient(to right, #40D1A3, #84D898);
      box-shadow: 1px 7px 5px 0px rgba(0,0,0,0.75);
      transition: .5s;
      cursor: pointer;
      -webkit-transition: all 1s ease;
      transition: all 1s ease;
   }

   .pokeCards:hover {
      transform : scale(1.1);
      -webkit-transform : scale(1.1);
   }


   p {
      margin: 5px;
      padding: 0px;
      color:black; 
      border-radius: 8px;
   }
  
   .info {
      background-color: green;
   }

   h3 {
      margin: 5px;
      color: black;
      font-size: 16px;
   }  

   h4 {
      margin: 0px;
      color:black;
      font-size: 15px;
   }

   .cajavideo{
      font-family: 'Dosis', sans-serif;
      font-size: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items:center;
      width: 340px;
      height: 300px;
      border-radius: 2%;
      background:rgba(173, 173, 173, .8);
      box-shadow: 1px 7px 5px 0px rgba(0,0,0,0.);
      padding:1%;
   }
   .box2{
      font-family: 'Dosis', sans-serif;
      font-size: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items:center;
      width: 340px;
      height: 200px;
      border-radius: 2%;
      background:rgba(173, 173, 173, .8);
      box-shadow: 1px 7px 5px 0px rgba(0,0,0,0.75);
      padding:1%;
      margin-top:10%;  
   }

   .box3{
      font-family: 'Dosis', sans-serif;
      font-size: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items:center;
      width: 360px;
      height: 350px;
      border-radius: 2%;
      background:rgba(173, 173, 173, .8);
      box-shadow: 1px 7px 5px 0px rgba(0,0,0,0.75);
      padding:1%;
      margin-top:10%;  
   }

   #chatLogo{
      width: 300px;
      height: auto;
   }

    #main {
      display: flex;
      justify-content: right;
    }

    .noob {
      display: flex;
      justify-content: center;
      align-items:center;
      font-family: 'Dosis', sans-serif;
   }

   /*Modal*/

   .modalpokeCards{
      background: linear-gradient(0deg, #1C6F76 0%, #093536 100%) !important;
      position: fixed;
      width: auto !important;
      height: auto !important;
      padding: 10px;
      border-radius: 15px;
      top: 50%;
      left: 50%;
      font-family: 'Dosis', sans-serif;
      font-size: 20px;
      justify-content: space-around;
      align-items: center;
      align-content: center;
      text-align: center;
      flex-wrap: wrap;
      z-index: 1;
      top: 20%;
      left: 50%;
   }
   .modalpokeCards h3, p{
      font-size: 20px;
      color: #fff;
   }
   .close{
      cursor: pointer;
      font-size: 36px;
      color: white;
      float:right;
   }
   
   .modalpokeCards.close {
   color: #aaaaaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
   }

   .modalpokeCards.close:hover,
   .modalpokeCards.close:focus {
   color: #000;
   text-decoration: none;
   cursor: pointer;
   }

/*Iconos*/
.fa-twitter{
   color:white;
   font-size: 40px; 
}

.fa-facebook-square{
   color: white;
   font-size: 40px; 
}

.text-black{
   color:black;
}

/*celular*/
@media (max-width:320px){
   .banner img{width: 200px}
}
/*tablet*/

@media (max-width: 600px) {
   .banner img{
    width: 100%;
    }
    .aside{
          display: none;
    }
}